# This is a workflow that syncs markdown table with Google Sheet

name: Upload

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install gspread markdown2 beautifulsoup4
    # Save files
    - shell: bash
      env:
        CREDS: ${{ secrets.GOOGLE_SHEETS_API_JSON }}
      run: |
        echo "$CREDS" > gcred.json
    # Update Google Sheet
    - name: Upload Google Sheet
      run: python sync.py
